<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css"/>
		<title>Ordinatio</title>
	</head>
	<body>
		<div>
			<h1> Welcome To Ordinatio </h1>
			<form id="loginForm" method="POST" action="/login">
				<label for="username">Username:</label>
				<input type="text" name="username" placeholder="Username" required pattern="^[A-Za-z0-9]{1,12}$" title="Username may only contain letters and numbers and be no more than 12 characters long.">
				<label for="password1">Password:</label>
				<input type="password" name="password" placeholder = "Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Password must be at least 8 characters long, and include an upper case letter, a lower case letter and a number.">
				<label for="password2"> Confirm password (for new registrations): </label>
				<input type="password" name="password2" placeholder = "Confirm Password">
			    <input type="submit" value="Login">
				<input type="submit" value="Register" formaction="/register">
			</form>
		</div>
		<%if(messages.error) 
		{%>
		<div><p><%=messages.error%>
		<%}%>
		<%if(alert != null)
		{%>
			<%-include ../partials/alertDiv%>
		<%}%>
	</body>
</html>
