<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" type="text/css" href="styles/style.css"/>
		<title>Ordinatio</title>
	</head>
	<body>
		<div>
			<h1>Ordinatio Rota Assignment Page</h1>
            <form id="assignForm" method="POST" action="/assign">
                <!-- User to assign rota or holiday to -->
				<label for="EmployeeId">Employee ID</label>
                <input type="text" name="EmployeeId" placeholder="Employee ID" pattern="\d" title="Enter employee's ID" required>
                
                <!-- Start and end dates for rota or holiday -->
                <label for="startDate">Start date:</label>
                <input type="date" name="startDate" required>
				<label for="startTime">Start Time:</label>
				<input type="time" name="startTime">
                <label for="endDate">End date:</label>
                <input type="date" name="endDate" required>
				<label for="endTime">End Time:</label>
				<input type="time" name="endTime">
				

                <br>

                <!-- Rota or holiday choice -->
                <label for="type">Shift or Holiday:</label>
				<select name="type">
					<option value="Holiday">Holiday</option>
					<option value="Shift"selected>Shift</option>
                </select>
                
				<input type="submit" value="Assign">
            </form>
            
			<form id="linksForm" method="GET" action="/main">
				<input type="submit" value="Go back" formaction="/main" form="linksForm">
            </form>
            
			<h1><%= info %></h1>
		</div>
	</body>
</html>
