<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css"/>
		<title>Sorry</title>
	</head>
	<body>
		<h1>CODE 403: We apologise <%= username %>, you do not have the permissions to do that.</h1>
	</body>
</html>
