<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" type="text/css" href="styles/style.css"/>
		<title>Sorry</title>
	</head>
	<body>
		<h1>CODE 403: We apologise <%= username %>, you do not have the permissions to do that.</h1>
	</body>
</html>
