<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css"/>
		<title>
		home
		</title>
	</head>
	<body>
	<h1>
		Welcome
	</h1>
		<div>
			<form id="logOutForm" method="POST" action="/">
			<input type="submit" value="Log out" formaction="/logOut?_method=DELETE" form="logOutForm">
		</div>
	</body>
</html>
