<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" type="text/css" href="styles/style.css"/>
		<title>Login</title>
	</head>
	<body>
		<div>
			<h1>Welcome To Ordinatio</h1>
			<form id="loginForm" method="POST" action="/login">
				<label for="username">Email:</label>
				<input type="text" name="email" placeholder="email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Must be a valid email address>
				<label for="password1">Password:</label>
				<input type="password" name="password" placeholder = "Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Password must be at least 8 characters long, and include an upper case letter, a lower case letter and a number.">
			    <input type="submit" value="Login">
			</form>
		</div>
	</body>
</html>
