<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" type="text/css" href="styles/style.css"/>
		<title>Admin</title>
	</head>
	<body>
		<h1>Welcome <%= username %></h1>
		<p>Admin Page</p>
		<div>
			<form id="logOutForm" method="POST" action="/">
				<input type="submit" value="Log out" formaction="/logOut?_method=DELETE" form="logOutForm">
			</form>
			<form id="registerForm" method="GET" action="/">
				<input type="submit" value="Register new user" formaction="/register" form="registerForm">
			</form>
		</div>
	</body>
</html>
