<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" type="text/css" href="styles/style.css" />
		<title>Home</title>
	</head>
	<body>
		<h1>Welcome <%= username %></h1>
		<p>Dashboard:</p>
		<div>
			<form id="logOutForm" method="POST" action="/">
				<input type="submit" value="Log out" formaction="/logOut?_method=DELETE" form="logOutForm">
			</form>
		</div>
		<svg id="gantt"></svg>
		<script src="libs/frappe-gantt.min.js"></script>
		<script src="libs/snap.svg-min.js"></script>
		<script src="libs/moment.min.js"></script>
		<link rel="stylesheet" href="styles/frappe-gantt.css"/>
		<script>
			var tasks = <%= data %>;
			var gantt = new Gantt("#gantt", tasks);
		</script>
	</body>
</html>
