<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" type="text/css" href="styles/style.css"/>
		<title>Ordinatio</title>
	</head>
	<body>
		<div>
			<h1>Ordinatio Admin Page</h1>
			<form id="registerForm" method="POST" action="/register">
				<label for="username">Username:</label>
				<input type="text" name="username" placeholder="Username" required pattern="^[A-Za-z0-9]{1,12}$" title="Username may only contain letters and numbers and be no more than 12 characters long.">
				<label for="password">Password:</label>
				<input type="password" name="password" placeholder = "Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Password must be at least 8 characters long, and include an upper case letter, a lower case letter and a number.">
				<label for="verify">Verify password:</label>
				<input type="password" name="verify" placeholder = "Verify password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Password must be at least 8 characters long, and include an upper case letter, a lower case letter and a number.">
				<label for="user">Type of user:</label>
				<select name="user">
					<option value="admin">Admin</option>
					<option value="user" selected>Employee</option>
				</select>
				<input type="submit" value="Register">
			</form>
			<form id="linksForm" method="GET" action="/main">
				<input type="submit" value="Go back" formaction="/main" form="linksForm">
			</form>
			<h1><%= info %></h1>
		</div>
	</body>
</html>
